body {
  background: url("https://i.gifer.com/W31U.gif") no-repeat center center fixed, 
  url("https://i.gifer.com/WG8P.gif") repeat center center fixed;
  background-color: black;
  background-size: 45%, cover;
}
